<table>
  <caption>鍵貸し出し状況</caption>
  <tr style="background:#ccccff">
    <th>日付</th>
    <th>責任者</th>
    <th>部屋名</th>
    <th>貸し出し時間</th>
    <th>返却/差し替え時間</th>
    <th>動画</th>
  </tr>
  <tr>
    <th rowspan="2">7月25日</th>
    <td>岩井智夢</td>
    <td>合D</td>
    <td>11:34</td>
    <td>15:56</td>
    <td>未提出</td>
  </tr>
  <tr>
    <td>宮南有希</td>
    <td>音1</td>
    <td>15:23</td>
    <td>18:34</td>
    <td>閲覧</td>
  </tr>
</table>