<!DOCTYPE html>
<html>
<head>
  <title>Keymanager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header">
    <div class="header_bar row">
      <h1 class="grid-6"><a href="/">Wanger Keymanager</a>
      </h1>
    </div>
  </header>

<%= yield %>

</body>
</html>
